<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Themepark Tickets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include('partials/header') %>

    <main>
        <h2>Rides</h2>

        <% if (rides.length > 0) { %>
            <% for (let i = 0; i < rides.length; ++i) { %>
                <section class="ride-card">
                    <h3><%= rides[i].name%></h3>
                    <img src="/assets/rides/ride.png" alt="<%= rides[i].name %> Image">
                    <p>
                        Fast-Track Price:
                        <%= Number(rides[i].cost).toLocaleString("en", {
                            style: 'currency',
                            currency: 'GBP'
                        }) %>
                    </p>
                </section>
            <% } %>
        <% } else { %>
            <p>No rides found</p>
        <% } %>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>