<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>


    <h2> Previous Orders </h2>

    <% if (orders.length === 0) { %>
        <p>No past tickets found.</p>
    <% } else { %>
        <% orders.forEach(order => { %>
            <section class="order-card">
                <p><strong>Date:</strong> <%= order.date.toDateString() %></p>
                <p><strong>Total:</strong> £<%= order.total %></p>
                <p><strong>Fast-Track Rides:</strong> <%= order.fastRides.join(", ") || "None" %></p>
                <p><strong>Status:</strong> Confirmed</p>
            </section>
        <% }) %>
    <% } %>

    <a href="/orders/my-orders">Back to My Orders</a>
    
    <%- include('partials/footer') %>
</body>
</html>